.idea/
.vscode/
.DS_Store



config/home-assistant.log
config/home-assistant.log.1
config/home-assistant.log.fault
config/home-assistant_v2.db
config/home-assistant_v2.db-shm
config/home-assistant_v2.db-wal
*.iml

.env


/config/.storage/
/config/.cloud/
/config/.cache/
/config/.config/
!/config/.storage/core.config
